<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ block "page-title" . }} Contacts App {{ end }}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="/static/js/htmx.min.js"></script>
  </head>
  <body>
    {{ template "content" . }}

    <div id="toast-container"></div>

    <script src="/static/js/forms.js"></script>
    <script src="/static/js/toast.js"></script>
  </body>
</html>
