@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .form-field {
    @apply flex flex-col gap-2.5 [&>label]:font-medium [&>span]:text-sm [&>span]:text-warning;
  }
}

.btn.btn-disabled,
.btn:disabled,
.btn[disabled] {
  @apply bg-primary bg-opacity-50 text-base-100;
}

.loading-spinner {
  display: none;
  background-color: #ccc;
}

.htmx-request.loading-spinner {
  display: block;
}
