{{ define "auth-page-content" }}
<div class="flex flex-col gap-5">
  <h1 class="text-center text-3xl font-semibold">Sign Up</h1>

  <form class="grid w-80 gap-2.5">
    <label for="username">Username</label>
    <input name="username" type="text" class="input input-bordered w-full" required />

    <label for="email">Email</label>
    <input name="email" type="email" class="input input-bordered w-full" required />

    <label for="password">Password</label>
    <input name="password" type="password" class="input input-bordered w-full" required />

    <button class="btn btn-primary mt-1" type="submit">Register</button>
  </form>

  <a href="/auth/sign-in" class="link">Login</a>
</div>
{{ end }} {{ define "page-title" }} Sign Up {{ end }}
